{%extends "layout.html" %}
{% block content %}
    <div class="small-8 small-centered columns">
    <h1>Liste des containers</h1>
    {% if msg %}
        <table class="sortable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr> 
            </thead>
            <tbody>/
            {% for item in msg %}
            <tr>
                <td>{{ item['Names'][0] }}</td>
                <td>{{item['Status']}}</td>
                <td>
                    <a href="info/{{item['Id']}}"><i class="fi-info"></i></a>
                    <a href="config/{{item['Id']}}"><i class="fi-wrench"></i></a>
                    {% if 'Exited' in item['Status'] %}
                        <a href="start/{{item['Id']}}"><i class="fi-play"></i></a>
                    {% else %}
                        <a href="stop/{{item['Id']}}"><i class="fi-stop"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
{% endblock %}
